.small {
    font-size: 12px;
    font-weight: 500;
}

.medium {
    font-size: 14px;
    font-weight: 500;
}

.big {
    font-size: 16px;
    font-weight: 500;
}

.left {
    float: left
}

.right {
    float: right
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.white {
    color: #dddddd
}

.black {
    color: rgb(7, 7, 7)
}

.red {
    color: #ca6060
}

.green {
    color: #85eaa2
}

.blue {
    color: #4960c9
}

.orange {
    color: #e4aa7a
}

.purple {
    color: #a486d1
}

.alt-purple {
    color: #643f7c
}

.bg-black {
    background-color: #080707
}

.bg-white {
    background-color: #ccc6c6
}

.bg-red {
    background-color: #7e3434
}

.bg-green {
    background-color: #3a7e34
}

.bg-purple {
    background-color: #4b5a9b
}

.bg-blue {
    background-color: #3a5079
}

.bg-light-blue {
    background-color: #3a6d79
}
